@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Georama&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url("./Media/background2-2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Courgette", cursive;
  /*font-family: "Georama", sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 1000px) {
  body {
    background-image: url("./Media/vertical-background.jpg");
  }
}
